/*---------------------------------*\
   Fullscreen Style
\*---------------------------------*/
@media screen and (min-device-width: 1281px) {
  #sidebar.fullscreen {
    margin-left: -585px; } }
@media screen and (max-device-width: 1280px) {
  #sidebar.fullscreen {
    -webkit-transform: translateX(-585px);
    -moz-transform: translateX(-585px);
    -ms-transform: translateX(-585px);
    -o-transform: translateX(-585px);
    transform: translateX(-585px); } }

#pjax.fullscreen {
  max-width: 800px;
  margin: 0 auto; }

#js-fullscreen, #nprogress .spinner-icon {
  width: 40px;
  height: 40px; }

#js-fullscreen, #nprogress .spinner {
  top: 12px;
  right: 20px; }

#js-fullscreen {
  margin: 0;
  padding: 0;
  color: #7d8b99;
  background: rgba(229, 232, 236, 0.5);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 10px 10px transparent;
  outline: none;
  cursor: pointer;
  /*
position: fixed;
  */
  -webkit-transition: box-shadow .35s;
  -moz-transition: box-shadow .35s;
  -ms-transition: box-shadow .35s;
  -o-transition: box-shadow .35s;
  transition: box-shadow .35s;
  z-index: 99;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  #js-fullscreen:hover {
    color: #2eb695;
    box-shadow: 0 0 0 3px rgba(125, 139, 153, 0.15); }
  @media screen and (max-width: 585px) {
    #js-fullscreen {
      width: 50px;
      height: 50px;
      top: 0;
      right: 0;
      border-radius: 0; } }

#icon-arrow {
  padding: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  display: block; }
  #icon-arrow:before {
    content: "\e801";
    margin-left: -1px;
    font-size: 20px;
    line-height: 1; }
  #icon-arrow.fullscreen {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media screen and (max-width: 585px) {
    #icon-arrow {
      padding: 15px; } }

/*---------------------------------*\
   Vendors
\*---------------------------------*/
@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(30px);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    -moz-transform: translateY(30px);
    opacity: 0; }

  to {
    -moz-transform: translateY(0);
    opacity: 1; } }

@-ms-keyframes fadeIn {
  from {
    -ms-transform: translateY(30px);
    opacity: 0; }

  to {
    -ms-transform: translateY(0);
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    -o-transform: translateY(30px);
    opacity: 0; }

  to {
    -o-transform: translateY(0);
    opacity: 1; } }

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0; }

  to {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: translateY(0);
    opacity: 1; }

  to {
    -webkit-transform: translateY(-30px);
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    -moz-transform: translateY(0);
    opacity: 1; }

  to {
    -moz-transform: translateY(-30px);
    opacity: 0; } }

@-ms-keyframes fadeOut {
  from {
    -ms-transform: translateY(0);
    opacity: 1; }

  to {
    -ms-transform: translateY(-30px);
    opacity: 0; } }

@-o-keyframes fadeOut {
  from {
    -o-transform: translateY(0);
    opacity: 1; }

  to {
    -o-transform: translateY(-30px);
    opacity: 0; } }

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1; }

  to {
    transform: translateY(-30px);
    opacity: 0; } }

@-webkit-keyframes flash {
  from, to {
    color: inherit;
    -webkit-transform: translateX(0); }

  35% {
    color: #f8645a;
    -webkit-transform: translateX(-0.75em); } }

@-moz-keyframes flash {
  from, to {
    color: inherit;
    -moz-transform: translateX(0); }

  35% {
    color: #f8645a;
    -moz-transform: translateX(-0.75em); } }

@-ms-keyframes flash {
  from, to {
    color: inherit;
    -ms-transform: translateX(0); }

  35% {
    color: #f8645a;
    -ms-transform: translateX(-0.75em); } }

@-o-keyframes flash {
  from, to {
    color: inherit;
    -o-transform: translateX(0); }

  35% {
    color: #f8645a;
    -o-transform: translateX(-0.75em); } }

@keyframes flash {
  from, to {
    color: inherit;
    transform: translateX(0); }

  35% {
    color: #f8645a;
    transform: translateX(-0.75em); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(359deg); } }

/* Make clicks pass-through */
/* Modified by Peiwen Lu @ 06 Nov 2013 */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none; }

#nprogress .bar {
  background: #f8645a;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; }

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #f8645a, 0 0 5px #f8645a;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px); }

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100; }
  @media screen and (max-width: 585px) {
    #nprogress .spinner {
      top: 5px;
      right: 5px; } }

#nprogress .spinner-icon {
  border: solid 2px transparent;
  border-top-color: #f8645a;
  border-left-color: #f8645a;
  border-radius: 50%;
  -webkit-animation: spin 400ms linear infinite;
  -moz-animation: spin 400ms linear infinite;
  -ms-animation: spin 400ms linear infinite;
  -o-animation: spin 400ms linear infinite;
  animation: spin 400ms linear infinite; }


