<div style="position:fixed;right:15px;top:62px;">
  <button id="content_btn" class="btn btn-primary" style="width:43px; height:34px;">
    <i class="fa fa-lg fa-plus"></i>
  </button>
</div>
<div style="position:fixed;right:15px;top:20px;">
  <button id="nav_btn" class="btn btn-primary">
    <i class="fa fa-lg fa-navicon"></i>
  </button>
</div>
<script type="text/javascript" src="{{ site.sub_url }}/public/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.sub_url }}/public/js/bootstrap.js"></script>
<script src="{{ site.sub_url }}/public/js/jquery.pjax.js"></script>
<script src="{{ site.sub_url }}/public/js/prettify/prettify.js"></script>
<script src="{{ site.sub_url }}/public/js/base.js"></script>
<script src="{{ site.sub_url }}/public/js/jquery.scrollUp.js"></script>
<script>
    $('a[href="#{{ site.active }}"]').tab('show');
</script>



    <script src="/finance/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/finance/assets/js/jquery.pjax.js"></script>
    <script src="/finance/assets/js/nprogress.js"></script>
    <script src="/finance/assets/js/script.js"></script>
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8df9f41c154d89488e1b1cc18038ab8f' type='text/javascript'%3E%3C/script%3E"));
</script>

