<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ site.sub_url }}/public/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.sub_url }}/public/css/font-awesome.css">
<link rel="stylesheet" href="{{ site.sub_url }}/public/js/prettify/prettify.css">
<link rel="stylesheet" href="{{ site.sub_url }}/public/css/base.css">
<link href="{{ site.sub_url }}/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

<link rel="stylesheet" type="text/css" href="{{ site.sub_url }}/public/css/style.css">

<!-- RFE: for easier MathJax install https://github.com/mathjax/MathJax/issues/339 -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [ ['$$', '$$']],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code'] // removed 'code' entry
    },
    /*   方程编号 */
    TeX: {
            equationNumbers: {
                autoNumber: ["AMS"],
                useLabelIds: true,
                extensions: ["AMSmath.js"]
            }
        },
        "HTML-CSS": {
            linebreaks: {
                automatic: true
            },
            scale: 90      /* 数学字体大小*/
        },
        SVG: {
            linebreaks: {
                automatic: true
            }
        }
        /*   方程编号 */
});

MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>
<script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'></script>
<!--=================================================================== -->